<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>Aleha</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	Time:
	<div class="content">Ждем ответа</div>
<script type="text/javascript">
    	$.ajax({
          url: "/",
          type: "GET"
          cache: false,
          success: function(html){$('#content').html(html);} - > success: function(data){
            alert(data);
           $('#content').html(data);}
          }
      	});
</script>
</body>
</html>